* {
    box-sizing: border-box;
  }
  
body {
    margin: 0;
    height: 100%;
  }

  .header {
    padding: 15px 0;
    background-color: #fff;
  }
  
  .header-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;
  }
  
  .logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;
    width: 80%;
  }
  
  .logo-content-img {
    border: solid 0px #42515f;
    max-width: 20px;
    max-height: 20px;
  }
  
  .emp-text {
    font: normal normal bold 20px/25px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: #82a70c;
    text-transform: capitalize;
  }
  
  .emp-payroll {
    color: #42515f;
  }
  
  * {
    box-sizing: border-box;
  }



.profile-radio-content {
    margin-left: 1.5cm;
    padding: 4px;
}

.label {
    margin-right: 0.1cm;
}

.gender-radio-content {
    margin-left: 0.7cm;
    padding: 4px;
}

.form-head {
    font-size: large;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: left;
}
  
.form-content {
    min-height: calc(100% - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid gray;
    background-color: #f7f7f7;

  
}
  
.form {
    display: flex;
    display: inline-block;
    flex-direction: column;
    border-style: showdo;
    background-color: white;
    border-color: gray;
    padding-left: 100px;
    padding-right: 10px;
    
}

.row-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    align-items: center;
    border: 0px solid green;

}

.profile {
    width: 30px;
    border-radius: 50%;
    margin-left: 0px;
    margin-right: 25px;
    cursor: pointer;
}

  
.input {
    text-align: left;
    margin-left: 3cm;
    padding: 15px;
    width: 13.7cm;
}

.input-content {
    text-align: left;
    margin-left: 2cm;
    padding: 4px;
}

error-output {
    font-size: 18px;
    color: red;
    margin-left: 10px;
  }


select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font: normal normal normal 16px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    background-color: transparent;
    cursor: pointer;
}

.selectBox {
    margin-left: 90px;
    
}

.buttonParent {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    margin-top: 30px;
  }


.cancelButton {
    background-color: #e7e7e7; color: black;
    border: 1px solid black;
    border-radius: 4px;
    color: black;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    
    
}

.submitButton {
    background-color: #e7e7e7; color: black;
    border: 1px solid black;
    border-radius: 4px;
    color: black;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 250px;
    cursor: pointer;
}



.resetButton {
    background-color: #e7e7e7; color: black;
    border: 1px solid black;
    border-radius: 4px;
    color: black;
    padding: 14px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 200px;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    
}




